
<div class="container">
    <div class="text-center">
         <h1>
             Avaliação do Funcionário <p style="color: orange;">@ViewData["Nome"]</p>
        </h1>
        <i class="fas fa-file-alt fa-8x"></i>
        <br>
        <h4>
            Aspectos Legais e Éticos com 
            <br>Relação à cultura da empresa
        </h4>
        <br>
        <h4>
            Descreva sobre sua visão frente as normas e cultura da empresa:
        </h4>
        <textarea rows="4" cols="80" placeholder="Digite aqui..."></textarea>
        <br><br>
        <br>
        <a href="@Url.Action("Comportamento", "Home")" class="btn btn-primary">VOLTAR</a>
        <a href="@Url.Action("FeedbackGeral", "Home")" class="btn btn-primary">CONTINUAR</a>
    </div>
</div>