
<div class="container">
    <div class="text-center">
         <h1>
            Pronto!
        </h1>
        <i class="far fa-laugh-wink fa-8x"></i>
        <br>
        <h4>
            Agradecemos por sua colaboração....
        </h4>
        <br>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">REFAZER AVALIAÇÃO</a>
    </div>
</div>