<div class="container">
    <div class="text-center">
         <h1>
            Avaliação do Funcionário <p style="color: orange;">@ViewData["Nome"]</p>
        </h1>
        <i class="far fa-check-circle fa-8x"></i>
        <br>
        <h4>
            Última etapa!<br><br>
            Diga para nós: Como você acha que os problemas apresentados no <br>
            dia a dia da empresa poderiam ser resolvidos?
        </h4>
        <br>
        <h4>
            Tipo do problema:
        </h4>
        <input placeholder="Digite aqui">
        <br><br>
        <h4>
            Possível solução:
        </h4>
        <textarea rows="4" cols="80" placeholder="Digite aqui..."></textarea>
        <br><br>
        <a href="@Url.Action("Habilidades", "Home")" class="btn btn-primary">VOLTAR</a>
        <a href="@Url.Action("Final", "Home")" class="btn btn-primary">FINALIZAR</a>
    </div>
</div>